<nav class="navbar">


  <a class="navbar-brand" href="#">students</a>
 
  <ul class="nav-items">
 
   <li><a routerLink="/studentlist" routerLinkActive="active">studentlist</a></li>
 
   <li><a routerLink="/addnewstudent" routerLinkActive="active">addnewstudent</a></li>
 
   <li><a routerLink="/studentdetails" routerLinkActive="active">studentdetails</a></li>
 
   <li><a routerLink="/updatestudent" routerLinkActive="active">UpdateStudent</a></li>
 
   <li><a routerLink="/deleteStudent" routerLinkActive="active">DeleteStudent</a></li>
 
  </ul>
 
  <!-- <div class="search-bar">
 
   <input
 
   type="text"
 
   placeholder="Search..."
 
   />
 
  </div> -->
 
  </nav>
 
  <router-outlet />