<h2>Routing in Angular</h2>
<nav>
  <ul>
    <li>
      <a 
        routerLink = "/first-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >first-component</a
        >
    </li>
    <li>
      <a 
        routerLink = "/second-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >second-component</a
        >
    </li>
    <li>
      <a 
        routerLink = "/third-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >third-component</a
        >
    </li>
  </ul>
</nav>

<router-outlet />